default:
  env:
    - name: OTEL_SERVICE_NAME
      valueFrom:
        fieldRef:
          apiVersion: v1
          fieldPath: "metadata.labels['app.kubernetes.io/component']"
    - name: OTEL_COLLECTOR_NAME
      value: opentelemetry-kube-stack-deployment-collector.monitoring.svc.cluster.local
    - name: OTEL_EXPORTER_OTLP_METRICS_TEMPORALITY_PREFERENCE
      value: cumulative
    - name: OTEL_RESOURCE_ATTRIBUTES
      value: 'service.name=$(OTEL_SERVICE_NAME),service.namespace=opentelemetry-demo,service.version={{ .Chart.AppVersion }}'

  image:
    repository: pair-diag-cn-guangzhou.cr.volces.com/pair

components:
  accounting:
    initContainers:
      - image: pair-diag-cn-guangzhou.cr.volces.com/pair/busybox:1.35

  cart:
    initContainers:
      - image: pair-diag-cn-guangzhou.cr.volces.com/pair/busybox:1.35

  checkout:
    initContainers:
      - image: pair-diag-cn-guangzhou.cr.volces.com/pair/busybox:1.35

  fraud-detection:
    initContainers:
      - image: pair-diag-cn-guangzhou.cr.volces.com/pair/busybox:1.35

  flagd:
    imageOverride:
      repository: pair-diag-cn-guangzhou.cr.volces.com/pair/flagd
      tag: "v0.12.8"
    initContainers:
      - image: pair-diag-cn-guangzhou.cr.volces.com/pair/busybox:1.35

  valkey-cart:
    imageOverride:
      repository: pair-diag-cn-guangzhou.cr.volces.com/pair/valkey

opentelemetry-collector:
  enabled: true
  image:
    repository: pair-diag-cn-guangzhou.cr.volces.com/pair/opentelemetry-collector-contrib
    tag: "0.142.0-amd64"