[submodule "lib/rcaeval"]
	path = lib/rcaeval
	url = git@github.com:phamquiluan/RCAEval.git
[submodule "algorithms/detector"]
	path = algorithms/detector
	url = git@github.com:CUHK-SE-Group/ts-anomaly-detector.git
[submodule "lib/train-ticket"]
	path = lib/train-ticket
	url = git@github.com:CUHK-SE-Group/train-ticket.git
	branch = master
