apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-rcabench-config
data:
  config.prod.toml: |
    name = "{{ .Values.configmap.name }}"
    version = "{{ .Values.configmap.version }}"
    port = {{ .Values.configmap.port }}
    workspace = "{{ .Values.configmap.workspace }}"

    [system]
    env_mode = "{{ .Values.configmap.system.env_mode }}"
    timezone = "{{ .Values.configmap.system.timezone }}"

    [initialization]
    data_path = "{{ .Values.configmap.initialization.data_path }}"

    [database.mysql]
    host = "{{ .Release.Name }}-mysql"
    port = "{{ .Values.configmap.database.mysql.port }}"
    user = "{{ .Values.configmap.database.mysql.user }}"
    password = "{{ .Values.configmap.database.mysql.password }}"
    db = "{{ .Values.configmap.database.mysql.db }}"

    [jaeger]
    endpoint = "{{ .Release.Name }}-jaeger:4318"

    [redis]
    host = "{{ .Release.Name }}-redis:6379"

    [k8s]
    namespace = "{{ .Values.configmap.k8s.namespace }}"
    [k8s.service]
    internal_url = "http://{{ .Release.Name }}-exp:8080"
    [k8s.init_container]
    {{- range $key, $value := .Values.configmap.k8s.init_container }}
    {{ $key }} = {{ $value | quote }}
    {{- end }}
    [k8s.job.service_account]
    name = "{{ .Release.Name }}-sa"
    {{- range $key, $value := .Values.configmap.k8s.job.volume_mount }}
    [k8s.job.volume_mount.{{ $key }}]
    name = {{ $value.name | quote }}
    {{- if $value.mount_path }}
    mount_path = {{ $value.mount_path | quote }}
    {{- end }}
    {{- if $value.host_path }}
    host_path = {{ $value.host_path | quote }}
    type = {{ $value.type | quote }}
    {{- end }}
    {{- if $value.source_type }}
    source_type = {{ $value.source_type | quote }}
    {{- end }}
    {{- if $value.sub_path }}
    sub_path = {{ $value.sub_path | quote }}
    {{- end }}
    {{- if $value.secret_name }}
    secret_name = {{ $value.secret_name | quote }}
    {{- end }}
    {{- if $value.claim_name }}
    claim_name = {{ $value.claim_name | quote }}
    {{- end }}
    {{- end }}

    [logging]
    dir = "{{ .Values.configmap.logging.dir }}"
    [logging.job]
    dir = "{{ .Values.configmap.logging.job.dir }}"

    [jfs]
    dataset_path = "{{ .Values.configmap.jfs.dataset_path }}"
    experiment_storage_path = "{{ .Values.configmap.jfs.experiment_storage_path }}"

    [container]
    storage_path = "{{ .Values.configmap.container.storage_path }}"

    [buildkit]
    address = "{{ .Release.Name }}-buildkit:1234"
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-buildkit-config
data:
  buildkitd.toml: |
    debug = true
    trace = false
    insecure-entitlements = ["security.insecure"]

    [grpc]
    address = ["tcp://0.0.0.0:1234"]

    {{- if .Values.harbor.enabled }}
    [registry."10.10.10.240"]
    http = false
    ca = ["/usr/local/share/ca-certificates/harbor.lab.pj.crt"]
    {{- else }}
    [registry."pair-diag-cn-guangzhou.cr.volces.com/pair"]
    http = false
    {{- end }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-initial-data
data:
  data.json: |
{{ .Files.Get "files/initial_data/data.json" | indent 4 }}

