{{- if .Values.initialization.enabled }}
apiVersion: batch/v1
kind: Job
metadata:
  name: {{ .Release.Name }}-init-data
  annotations:
    "helm.sh/hook": post-install,post-upgrade
    "helm.sh/hook-weight": "-5"
    "helm.sh/hook-delete-policy": before-hook-creation,hook-succeeded
spec:
  ttlSecondsAfterFinished: 100
  template:
    metadata:
      name: {{ .Release.Name }}-init-data
    spec:
      restartPolicy: Never
      initContainers:
        # Wait for PVCs to be bound
        - name: wait-for-pvc
          image: {{ include "helm.image" (dict "imageConfig" .Values.images.busybox "global" .Values.global) }}
          imagePullPolicy: "{{ .Values.images.busybox.pullPolicy }}"
          command:
            - sh
            - -c
            - |
              echo "Waiting for PVCs to be ready..."
              sleep 5
              echo "PVCs are ready"
      containers:
        - name: init-data
          image: {{ include "helm.image" (dict "imageConfig" .Values.images.init_data "global" .Values.global) }}
          imagePullPolicy: "{{ .Values.images.init_data.pullPolicy }}"
          command:
            - sh
            - -c
            - |
              echo "Initializing data..."

              if [ -d /data ]; then
                if [ -d /data/drain_template ]; then
                  echo "Found drain_template directory, preparing to copy..."
                  TARGET_DIR="{{ .Values.configmap.jfs.dataset_path }}/drain_template"
                  mkdir -p "$TARGET_DIR"
                  echo "Created directory: $TARGET_DIR"
                  cp -r /data/drain_template/* "$TARGET_DIR/"
                  echo "Successfully copied drain_template data"
                else
                  echo "No drain_template directory found in /data"
                fi
              else
                echo "No initial data found to copy"
              fi
          volumeMounts:
            - name: dataset
              mountPath: {{ .Values.configmap.jfs.dataset_path }}
      volumes:
        - name: dataset
          persistentVolumeClaim:
            claimName: {{ .Release.Name }}-juicefs-dataset
{{- end }}
