{{/*
  Only create JuiceFS secret when using juicefs storage type
*/}}
{{- if and .Values.persistence.juicefs.enabled (eq .Values.persistence.storageType "juicefs") }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-juicefs-secret
  namespace: {{ .Values.configmap.k8s.namespace }}
type: Opaque
stringData:
  name: {{ .Values.juicefs.name }}
  metaurl: {{ .Values.juicefs.metaurl }}
  {{- if .Values.juicefs.storage }}
  storage: {{ .Values.juicefs.storage }}
  {{- end }}
  {{- if .Values.juicefs.bucket }}
  bucket: {{ .Values.juicefs.bucket }}
  {{- end }}
  {{- if .Values.juicefs.accessKey }}
  access-key: {{ .Values.juicefs.accessKey }}
  {{- end }}
  {{- if .Values.juicefs.secretKey }}
  secret-key: {{ .Values.juicefs.secretKey }}
  {{- end }}
  {{- if .Values.juicefs.cacheSize }}
  cache-size: {{ .Values.juicefs.cacheSize | quote }}
  {{- end }}
{{- end }}
