{{- if .Values.persistence.juicefs.useStaticPV }}
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: {{ .Release.Name }}-juicefs-dataset-pv
spec:
  capacity:
    storage: {{ .Values.persistence.juicefs.size }}
  volumeMode: Filesystem
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  csi:
    driver: csi.juicefs.com
    volumeHandle: {{ .Release.Name }}-juicefs-dataset-pv
    fsType: juicefs
    nodePublishSecretRef:
      name: {{ .Release.Name }}-juicefs-secret
      namespace: {{ .Values.configmap.k8s.namespace }}
    volumeAttributes:
      juicefs/mount-cpu-limit: "5000m"
      juicefs/mount-memory-limit: "5Gi"
      juicefs/mount-cpu-request: "100m"
      juicefs/mount-memory-request: "512Mi"
      {{- if .Values.persistence.juicefs.subPath.dataset }}
      subPath: {{ .Values.persistence.juicefs.subPath.dataset | quote }}
      {{- end }}

---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: {{ .Release.Name }}-juicefs-experiment-storage-pv
spec:
  capacity:
    storage: {{ .Values.persistence.juicefs.size }}
  volumeMode: Filesystem
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  csi:
    driver: csi.juicefs.com
    volumeHandle: {{ .Release.Name }}-juicefs-experiment-storage-pv
    fsType: juicefs
    nodePublishSecretRef:
      name: {{ .Release.Name }}-juicefs-secret
      namespace: {{ .Values.configmap.k8s.namespace }}
    volumeAttributes:
      juicefs/mount-cpu-limit: "5000m"
      juicefs/mount-memory-limit: "5Gi"
      juicefs/mount-cpu-request: "100m"
      juicefs/mount-memory-request: "512Mi"
      {{- if .Values.persistence.juicefs.subPath.experiment_storage }}
      subPath: {{ .Values.persistence.juicefs.subPath.experiment_storage | quote }}
      {{- end }}
{{- end }}
