{{- if .Values.harbor.enabled }}
apiVersion: v1
kind: Secret
metadata:
  name: harbor-cert
type: Opaque
data:
  # Harbor certificate is automatically read from certs/harbor.lab.pj.crt and base64 encoded
  harbor.lab.pj.crt: {{ .Files.Get "certs/harbor.lab.pj.crt" | b64enc }}
--- 
apiVersion: v1
kind: Secret
metadata:
  name: docker-config
  namespace: {{ .Values.configmap.k8s.namespace }}
type: Opaque
stringData:
  config.json: |
    {
      "auths": {
        "{{ .Values.harbor.registry }}": {
          "auth": "{{ printf "%s:%s" .Values.harbor.username .Values.harbor.password | b64enc }}"
        }
      }
    }
{{- end }}
---
# NOTE: kube-config Secret has been removed and replaced with ServiceAccount authentication.
# The application now automatically uses the ServiceAccount token for Kubernetes API access.
# For details, see helm/templates/serviceaccount.yaml