default:
  env:
    - name: OTEL_SERVICE_NAME
      valueFrom:
        fieldRef:
          apiVersion: v1
          fieldPath: "metadata.labels['app.kubernetes.io/component']"
    - name: OTEL_COLLECTOR_NAME
      value: opentelemetry-kube-stack-deployment-collector.monitoring.svc.cluster.local
    - name: OTEL_EXPORTER_OTLP_METRICS_TEMPORALITY_PREFERENCE
      value: cumulative
    - name: OTEL_RESOURCE_ATTRIBUTES
      value: 'service.name=$(OTEL_SERVICE_NAME),service.namespace=opentelemetry-demo,service.version={{ .Chart.AppVersion }}'

  image: 
    repository: pair-diag-cn-guangzhou.cr.volces.com/pair/open-telemetry-demo

components:
  accounting:
    initContainers:
      - name: wait-for-kafka
        image: pair-diag-cn-guangzhou.cr.volces.com/pair/busybox:1.35
        command: ["sh", "-c", "until nc -z -v -w30 kafka 9092; do echo waiting for kafka; sleep 2; done;"]

  cart:
    initContainers:
      - name: wait-for-valkey-cart
        image: pair-diag-cn-guangzhou.cr.volces.com/pair/busybox:1.35
        command: ["sh", "-c", "until nc -z -v -w30 valkey-cart 6379; do echo waiting for valkey-cart; sleep 2; done;"]

  checkout:
    initContainers:
      - name: wait-for-kafka
        image: pair-diag-cn-guangzhou.cr.volces.com/pair/busybox:1.35
        command: ["sh", "-c", "until nc -z -v -w30 kafka 9092; do echo waiting for kafka; sleep 2; done;"]

  fraud-detection:
    initContainers:
      - name: wait-for-kafka
        image: pair-diag-cn-guangzhou.cr.volces.com/pair/busybox:1.35
        command: ["sh", "-c", "until nc -z -v -w30 kafka 9092; do echo waiting for kafka; sleep 2; done;"]
  
  flagd:
    imageOverride:
      repository: pair-diag-cn-guangzhou.cr.volces.com/pair/flagd
    initContainers:
      - name: init-config
        image: pair-diag-cn-guangzhou.cr.volces.com/pair/busybox:1.35
        command: ["sh", "-c", "cp /config-ro/demo.flagd.json /config-rw/demo.flagd.json && cat /config-rw/demo.flagd.json"]
        volumeMounts:
          - mountPath: /config-ro
            name: config-ro
          - mountPath: /config-rw
            name: config-rw

  valkey-cart:
    imageOverride:
      repository: pair-diag-cn-guangzhou.cr.volces.com/pair/valkey

grafana:
  enabled: false

opensearch:
  image:
    repository: pair-diag-cn-guangzhou.cr.volces.com/pair/opensearch
    tag: "3.2.0"