global:
  security:
    allowInsecureImages: true

architecture: standalone

auth:
  enabled: false

image:
  registry: pair-diagnose-cn-guangzhou.cr.volces.com

master:
  persistence:
    enabled: true
    storageClass: "openebs-hostpath"
    size: 8Gi

  resources:
    requests:
      memory: 256Mi
      cpu: 100m
    limits:
      memory: 1Gi
      cpu: 1000m

  service:
    type: ClusterIP
    ports:
      redis: 6379
# 高可用配置（可选，用于生产环境）
# architecture: replication
# replica:
#   replicaCount: 2
#   persistence:
#     enabled: true
#     size: 8Gi
